<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Assig1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Assig2.styles.css" asp-append-version="true" />
 
</head>
<body>
    <header class="custom-header">
        <div class="container-lg">
            <div class="row branding-row-wrapper d-flex">
                <div class="col-sm-6">
                    <!-- Logo Section -->
                    <div class="d-flex align-items-center site-logo-wrapper">
                        <a href="https://www.sa.gov.au/" title="Home" rel="home" class="site-logo d-block">
                            <img src="/images/sa-government.png" alt="Home" height="60"> 
                        </a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <!-- Logo Section -->
                    <div class="d-flex align-items-center site-logo-wrapper">
                        <a href="https://data.sa.gov.au/" title="Home" rel="home" class="site-logo d-block">
                            <img src="/images/dataSA_logo.png" alt="Home" height="60"> 
                        </a>
                    </div>
                </div>
            </div>

        <!-- Navbar with sections at the bottom -->
            <div class="main-menu-wrapper d-flex justify-content-between align-items-center row g-0">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link text-white @IsActive("Home")" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white @IsActive("About")" asp-controller="Home" asp-action="About">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white @IsActive("Offences")" asp-controller="Offences" asp-action="Index">Offences</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white @IsActive("Expiations")" asp-controller="Expiations" asp-action="Index">Expiations</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer ">
        <div class="container text-center">
            &copy; @System.DateTime.Now.Year - Road Safety SA - <a asp-controller="Home" asp-action="About">About</a>
            <p>Email:andrew.huynh561@gmail.com</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
    @functions {
        public string IsActive(string controllerName)
        {
            return "nav-link border-start border-end" + (ViewBag.Active == controllerName ? " active bg-warning bg-gradient" : "");
        }
    }