@model Assig1.Models.Expiation

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Expiation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OffencePenaltyAmt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OffencePenaltyAmt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OffenceLevyAmt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OffenceLevyAmt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorporateFeeAmt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorporateFeeAmt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalFeeAmt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalFeeAmt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnforceWarningNoticeFeeAmt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnforceWarningNoticeFeeAmt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BacContentExp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BacContentExp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleSpeed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleSpeed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationSpeedLimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationSpeedLimit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CameraCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CameraCode.CameraTypeCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriverStateNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriverStateNavigation.CountryStateCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LsaCodeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LsaCodeNavigation.LsaCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OffenceCodeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OffenceCodeNavigation.OffenceCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoRejCodeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoRejCodeNavigation.RejectionCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegStateNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegStateNavigation.CountryStateCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusCodeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusCodeNavigation.StatusCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeCodeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeCodeNavigation.TypeCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WithdrawCodeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WithdrawCodeNavigation.WithdrawCode)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ExpId" />
        <input type="hidden" asp-for="IncidentStartDate" />
        <input type="hidden" asp-for="IncidentStartTime" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
