@model Assig1.ViewModels.ExpiationInsightsViewModel



<div class="bg-custom p-5">
    <h1>Expiations DashBoard!</h1>

</div>

<div class="alert alert-info">
    <p>
        <strong>Year:</strong> @(Model.Year.HasValue ? Model.Year.Value.Year.ToString("YYYY") : "2024")<br />
    </p>
</div>



    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-header bg-secondary text-white">
                    <strong>Fine Statistics</strong>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Maximum Fine
                            <span class="">@Model.MaxFine.ToString("C")</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Minimum Fine
                            <span class="">@Model.MinFine.ToString("C")</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Average Fine
                            <span class="">@Model.AvgFine.ToString("C")</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-header bg-secondary text-white">
                    <strong>Speed Statistics</strong>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Maximum Speed
                            <span class="">@Model.MaxSpeed</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Average Speed
                            <span class="">@Model.AvgSpeed.ToString("C")</span>
                        </li>
                 
                    
                    </ul>
                
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-header bg-secondary text-white">
                    <strong>Offence Frequency</strong>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Frequency of Expiations
                            <span class="b">@Model.Frequency</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-header bg-secondary text-white">
                    <strong>Drinking Statistics</strong>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Maximum BAC
                            <span class="">@Model.MaxBAC</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Minimum BAC
                            <span class="">@Model.MinBAC</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Average BAC
                            <span class="">@Model.AvgBAC?.ToString("F3")</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
