@model Assig1.ViewModels.OffenceSearchViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Offences" asp-action="Index" method="get" class="row mb-2">
    <div class="col-4">
        <input type="text" class="form-control" asp-for="SearchText" placeholder="Search Offences..." title="Enter description" />
    </div>

    <div class="col-3">
        <select asp-for="CategoryId" class="form-select" title="view categories"  asp-items="Model.CategoryList" >
            <option value="value">All Expiation  Categories</option>
          
        </select>
    </div>

    <div class="col-4">
        <button type="submit">  Search</button>
    </div>

</form>

@if (Model.Offences.Any())
{
    
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Offences.First().Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Offences.First().ExpiationFee)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Offences.First().AdultLevy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Offences.First().CorporateFee)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Offences.First().TotalFee)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Offences.First().DemeritPoints)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Offences.First().SectionCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Offences.First().Section)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var offence in Model.Offences)
            {
            <tr>
                <td>
                        @Html.DisplayFor(modelItem => offence.Description)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => offence.ExpiationFee)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => offence.AdultLevy)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => offence.CorporateFee)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => offence.TotalFee)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => offence.DemeritPoints)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => offence.SectionCode)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => offence.Section.SectionId)
                </td>
                <td>
                        <a asp-action="Edit" asp-route-id="@offence.OffenceCode">Edit</a> |
                        <a asp-action="Details" asp-route-id="@offence.OffenceCode">Details</a> |
                        <a asp-action="Delete" asp-route-id="@offence.OffenceCode">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
}
else
{
    <p>No offences found.</p>
}
